.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.minting-options-header {
    color: white;
    margin-top: 40px;
}

.minting-options {
    /* width: 40%; */
    background-color: #05386b;
    padding: 25px;
}

.minting-options label {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.minting-options input {
    background-color: gray;
    cursor: auto;
    color: white;
    border: none;
}

.minting-options input[type=checkbox] {
    width: 20px;
    height: 20px;
    /* background-color: gray; */
}

.minting-options input:checked{
    /* background-color: green; */
}

.minting-options input:hover,  .minting-options input:focus{
    border: 2px solid green;
}
.code-display {
    height: 70vh;
    /* width: 45%; */
    /* background-color: blueviolet; */
}

.minting-options label {
    display: inline-block;
    width: 145px;
}

input[type=checkbox] {
    width: 16px;
}

.display-contract {
    width: 100%;
    height: 80%;
    border: none;
    background-color: black;
    color: white;
    margin: 0;
}

.test {
    display: flex;
}

.child {
    /* flex: 1 1 40%; */
    margin-top: 20px;
    /* width: 50px; */
}

.connectButton {
    margin-top: 20px;
}

.minting-form {
    /* display: flex;
    justify-content: space-between; */
}

.presale {
    width: 39vw;
    text-align: center;
}

.purchase-tokens-heading {
    color: white;
    margin-top: 20px;
}