.custom-button {
  /* margin-top: 15px; */
  width: 150px;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 750px) {

.card {
  width: 25vw;
  height: 45vh;
  border: 1px solid black;
  border-radius: 6px;
  padding-top: 45px;
  box-shadow: 1px 2px 2px grey;;
}
}

.login-form {
  margin-top: 15px;
  text-align: center;
}

label {
  text-align: left;
}
h1 {
  text-align: center;
}

input, textarea {
  width: 15vw;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.submit {
  background-color: rgb(46, 49, 53);
  width: 16.2vw;
  border-radius: 3px;
  margin-top: 45px;
}

.submit:hover {
  background-color: rgb(23, 44, 106);
}

@media only screen and (max-width: 750px) {
  input {
      width: 35vw;
  }

  .submit {
      width: 39.5vw;
  }

  .login-form {
      text-align: left;
  }

}